<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: #343a40;
        }
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .logo {
            max-width: 300px;
        }
    </style>
    <title>ToDo App</title>
</head>
<body>
    <div class="center">
        <img src="https://media.discordapp.net/attachments/773834812539535360/1117832008987590857/unnamed.png" alt="Logo" class="logo">
        <a href="/todos">
            <button class="btn btn-primary">Go to ToDo List</button>
        </a>
    </div>
</body>
</html>
